.color-btn {
    border: 1px solid #ddd;
    background-color: white;
    color: #333;
    padding: 14px 24px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;

    display: flex;
    align-items: center;
    gap: 12px;

    width: 300px;
}

/* icon */
.color-btn img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

/* ACTIVE từng màu */
.color-btn.active.red {
    background-color: #ff2b2b;
    color: white;
}

.color-btn.active.silver {
    background-color: #a9a9a9;
    color: white;
}

.color-btn.active.black {
    background-color: #000;
    color: white;
}