.sidebar-wrap[b-vbynhh5vsr] {
    background-color: #bd5d38;
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;      /* chỉnh theo sidebar của bạn */
    height: 100vh;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.content-wrap[b-vbynhh5vsr] {
    /* margin-left: 100px;   phải bằng width của sidebar */
    min-height: 100vh;
    padding: 4rem 3rem;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
}

.page-content[b-vbynhh5vsr] {
    width: 100%;
    max-width: 900px;
}