.exp-item[b-agpf0uo4bl] {
    display: flex;
    align-items: flex-start;
    margin-bottom: 4rem;
}

/* LEFT */
.exp-content[b-agpf0uo4bl] {
    flex: 0 0 65%; /* chiếm khoảng 65% */
}

.exp-content h3[b-agpf0uo4bl] {
    font-size: 1.5rem;
    font-weight: 800;
    text-transform: uppercase;
    color: #343a40;
    margin-bottom: 0.3rem;
}

.company[b-agpf0uo4bl] {
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 1px;
    color: #6c757d;
    margin-bottom: 1rem;
}

.exp-content p[b-agpf0uo4bl] {
    color: #6c757d;
    line-height: 1.7;
}

/* RIGHT */
.exp-time[b-agpf0uo4bl] {
    flex: 0 0 auto;
    color: #bd5d38;
    font-weight: 600;
    white-space: nowrap;
    font-size: 0.95rem;
    margin-top: 0.5rem;
}