.interests-page[b-bh6bg4pbxx] {
    width: 100%;
}

/* TITLE */
.section-title[b-bh6bg4pbxx] {
    font-size: 3.3rem;
    font-weight: 800;
    text-transform: uppercase;
    color: #343a40;
    margin-bottom: 3rem;
    line-height: 1.1;
}

/* TEXT */
.interest-text[b-bh6bg4pbxx] {
    color: #6c757d;
    line-height: 1.8;
    font-size: 1.05rem;
    margin-bottom: 1.5rem;
    max-width: 900px;
}
.interest-text[b-bh6bg4pbxx]::before {
    content: "•";
    color: #bd5d38;
    margin-right: 8px;
}