<div class="sidebar">
    <img src="images/profile.jpg" class="avatar" />

    <nav class="nav flex-column">
        <div class="nav-item">
            <NavLink class="nav-link menu-link" href="/about" Match="NavLinkMatch.All">
                ABOUT
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link menu-link" href="/experience">
                EXPERIENCE
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link menu-link" href="/education">
                EDUCATION
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link menu-link" href="/skills">
                SKILLS
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link menu-link" href="/interests">
                INTERESTS
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link menu-link" href="/awards">
                AWARDS
            </NavLink>
        </div>
    </nav>
</div>