@page "/interests"
@layout b19.Components.Layout.ResumeLayout

<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <section class="interests-page">
        <h2 class="section-title">Interests</h2>

        <p class="interests-description">
            Apart from being a web developer, I enjoy most of my time being outdoors. I am an avid hiker, cyclist, and
            nature lover.
        </p>

        <p class="interests-description">
            When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows, I am an
            aspiring chef, and I spend a large amount of my free time exploring the latest technology advancements in
            the front-end web development world.
        </p>
    </section>
</div>