@page "/skills"
@layout b19.Components.Layout.ResumeLayout

<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <section class="skills-page">
    <h2 class="section-title">Skills</h2>

    <div class="skills-block">
        <h3 class="sub-title">Programming Languages &amp; Tools</h3>

        <div class="icon-list">
            <i class="devicon-html5-plain colored"></i>
            <i class="devicon-css3-plain colored"></i>
            <i class="devicon-javascript-plain colored"></i>
            <i class="devicon-csharp-plain colored"></i>
            <i class="devicon-dotnetcore-plain colored"></i>
            <i class="devicon-bootstrap-plain colored"></i>
            <i class="devicon-git-plain colored"></i>
        </div>
    </div>

    <div class="skills-block">
        <h3 class="sub-title">Workflow</h3>

        <ul class="workflow-list">
            <li>Mobile-First, Responsive Design</li>
            <li>Cross Browser Testing & Debugging</li>
            <li>Cross Functional Teams</li>
            <li>Agile Development & Scrum</li>
        </ul>
    </div>
</section>
</div>
